<footer class="container footer-alignment">
         <a class = "footer-elements" href="./aboutUs">About Us</a>
         <a class = "footer-elements" href="/pages/careers.html">Careers</a>
         <a class = "footer-elements" href="/pages/contact.html">Contact Us</a>
         <a class = "footer-elements" href="/pages/enquiry.html">Enquiry</a>
         <a class = "footer-elements" href="/pages/becomePartner.html">Become Partner</a>
         <a class=  "footer-elements" href="/pages/terms.html">Terms and Conditions</a>
      </footer>