<header class = "container">
         <div class="header-logo hand-symbol" onclick="homePage()"><strong>Foodpoint</strong></div>
         <div class="second-segment">
            <div class="second-seginternal">
               <a class="common-color login-signup" href="#" id="login" onclick="openLoginModal()">Login&nbsp;<span>/</span>&nbsp;</a>                    
               <a class="common-color login-signup" href="#" id="signup" onclick="openSignUpModal()">Sign up</a>
               <span class="common-color login-signup" id="u_name">,</span>&nbsp;&nbsp;
               <a class="common-color login-signup"  href="#" id="logout" onclick="logoutUser()" style="width:auto;">(Logout)</a>                    
            </div>
            <div class="second-seginternal-cart">
               <a class="hand-symbol" onclick="openCartPage()"><img style="max-height: 5vh;
                  max-width: 5vw;"  src="../images/shopping-cart-solid.svg" alt="not found"></a>
               <span  id='lblCartCount'></span>
            </div>
         </div>
      </header>